<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<a target="_blank"  href="https://www.amazon.com/gp/product/1501147765/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1501147765&linkCode=as2&tag=rawneed05-20&linkId=34790a970b7874d904f1e8983f4f5548"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=1501147765&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=rawneed05-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=rawneed05-20&l=am2&o=1&a=1501147765" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</body>
</html>
